/*submitted by: Ramon Frias
date: 09 Nov 2014*/
body {
	background-color: #FCFFF5;
	}

gym10 {
	padding: 2%;
	margin: 2%;
	}
h1 {
	color: #D1DBBD;
	}

.firstP {
	color: #FFF;
	}
.jumbotron {
	background-color: #193441;
	}