/*submitted by: Ramon Frias
date: 09 Nov 2014*/
body {
	background-color: rgba(147,206,222,1);
	background: @include filter-gradient(#93cede, #49a5bf, horizontal);
	background: @include background-image(linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%));
	}

gymFinder {
	padding: 2%;
	margin: 2%;
	}
h1 {
	color: #D1DBBD;
	}

.firstP {
	color: #FFF;
	}
.jumbotron {
	background-color: #193441;
	}